.add-card {
  width: 200px;
  border: dashed 2px;
  border-radius: 5px;
  height: 200px;
  margin: 40px;
  padding: 50px 0;
}
.home {
  height: 100vh;
  background-color: #f1f5fb;
  padding: 0 0 10px 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.quick-cards{
    border-radius: 5px;
    background-color: white;
    padding-top: 20px;
    padding-bottom: 20px;
}
.add-card img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  
  width: 40%;
}

.add-card{
    text-align: center;
}
.dico {
  background-color: #9582D8;
  width: 100%;
  height: 5px;
  transition: all;
  transition-duration: 0.1s;
}
.menu {
  background-color: white;
  border-radius: 5px;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.menu-item {
  color: #9582D8;
  margin: 5px;
  position: relative;
  min-width: 150px;
  display: flex;
  flex-direction: column;
  text-align: center;
  transition: box-shadow;
  transition-duration: 0.2s;
  background-color: whitesmoke;

  box-shadow: 0 1px 1px hsl(0deg 0% 0% / 0.075),
    0 2px 2px hsl(0deg 0% 0% / 0.075), 0 4px 4px hsl(0deg 0% 0% / 0.075),
    0 8px 8px hsl(0deg 0% 0% / 0.075), 0 16px 16px hsl(0deg 0% 0% / 0.075);
}

.menu-item:hover {
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1), 0 3px 3px rgba(0, 0, 0, 0.1),
    0 5px 5px rgba(0, 0, 0, 0.1), 0 10px 10px rgba(0, 0, 0, 0.1),
    0 20px 20px rgba(0, 0, 0, 0.1);
}
.menu-item:active .dico {
  background: red;
}
